*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 70%;
   margin: auto;
}
header{
    height: 100px;
    background-color: rgb(241, 83, 234);
}
body > *:not(footer),
main > section{
    margin-top: 10px;
    margin-bottom: 10px;
}
#libero{
    height: 15%;
    margin-bottom: 1%;
}
footer{
    height: 80px;
    background-color: purple;
    margin-top: 10px;
}
#main-top{
    height: 400px;
    background-color: yellow;
}
#main-bot{
    height: 500px;
    background-color:blue;
}
#main-bot > h1{
    height: 50px;
}
#main-bot > h1,
#main-bot > div > *{
    background-color: cornflowerblue;
}
#main-bot > div{
    height: 90%;
    padding: 10px 0 10px 0;
}
#main-bot aside,
#main-bot article{
    height: 100%;
    float: left;
}
#main-bot aside{
    width: 25%;
}
#main-bot article{
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}